<h1 id="tableLabel">Evolución del precio del UVA</h1>
<p *ngIf="!uvas"><em>Loading...</em></p>
<div>

  
<app-graph [lista]="uvas"></app-graph>
</div>
<!-- <app-line-chart 
[lineChartData]="uvas"></app-line-chart> -->


<!-- 
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="uvas">
    <thead>
      <tr>
        <th>Date</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let uva of uvas">
        <td>{{ uva.date }}</td>
        <td>{{ uva.value }}</td>        
      </tr>
    </tbody>
</table> -->
  